// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

@font-face {
	font-family: HelveticaBold;
	src: url("fonts/Helvetica-Bold.ttf") format("truetype");
}
@font-face {
	font-family: HelveticaLight;
	src: url("fonts/Helvetica-Light.otf") format("opentype");
}
@font-face {
	font-family: LeagueGothicRegular;
	src: url("fonts/leaguegothic-regular-webfont.ttf") format("truetype");
}

$base-color: #17a4e6;
$base-gradient: black;
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
@import 'list.scss';
@import 'button.scss';
@import 'toolbar.scss';
@import 'forms.scss';
@import 'page.scss';

// Custom code goes here..

.tweet-wrapper {

	h2 { 
		font-weight: bold; padding-bottom: 3px; 
	}
	img { 
		border-radius: 5px; float: left; 
	}
	.tweet {
		// font-size: 70%;
		margin-left: 135px;
		min-height: 50px;
	}
	.posted { 
		float: right;
	}
}

@include list-settings;
@include button-style;
@include toolbar-settings;
@include form-settings;
@include page-settings;

// Examples of using the icon mixin:
// @include icon('user');