// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

@font-face {
	font-family: HelveticaBold;
	src: url("fonts/Helvetica-Bold.ttf") format("truetype");
}
@font-face {
	font-family: HelveticaLight;
	src: url("fonts/Helvetica-Light.otf") format("opentype");
}
@font-face {
	font-family: LeagueGothicRegular;
	src: url("fonts/leaguegothic-regular-webfont.ttf") format("truetype");
}
$base-color: #17a4e6;
$base-gradient: 'bevel';
$base-gradient-glossy: 'glossy';
$base-gradient-matte: 'matte';
$base-gradient-bevel: 'bevel';
$list-header-bg-color: transparentize(saturate(#ffffff, 10%), .25);
$list-header-bg-color: #FFFFFF;

/*$base-color: #17a4e6;
$base-gradient: black;*/
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
@import 'list.scss';
@import 'button.scss';
@import 'toolbar.scss';
@import 'forms.scss';
@import 'page.scss';
@import 'panel.scss';  

// Custom code goes here..

.tweet-wrapper {

	h2 { 
		font-weight: bold; padding-bottom: 3px; 
	}
	img { 
		border-radius: 5px; float: left; 
	}
	.tweet {
		// font-size: 70%;
		margin-left: 135px;
		min-height: 50px;
	}
	.posted { 
		float: right;
	}
}

    /* not using it anymore, as it applies to all automatically
    
    .delete-item-list .x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item .x-item-selected .x-list-item-tpl {

        background-image: linear-gradient(bottom, rgb(252,189,189) 5%, rgb(250,197,197) 53%);
        background-image: -o-linear-gradient(bottom, rgb(252,189,189) 5%, rgb(250,197,197) 53%);
        background-image: -moz-linear-gradient(bottom, rgb(252,189,189) 5%, rgb(250,197,197) 53%);
        background-image: -webkit-linear-gradient(bottom, rgb(252,189,189) 5%, rgb(250,197,197) 53%);
        background-image: -ms-linear-gradient(bottom, rgb(252,189,189) 5%, rgb(250,197,197) 53%);

        background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.05, rgb(252,189,189)),
        color-stop(0.53, rgb(250,197,197))
        );
    }*/
    
    .delete-item-list  {
    
        background-image: linear-gradient(bottom, rgb(252,189,189) 5%, rgb(250,197,197) 53%);
        background-image: -o-linear-gradient(bottom, rgb(252,189,189) 5%, rgb(250,197,197) 53%);
        background-image: -moz-linear-gradient(bottom, rgb(252,189,189) 5%, rgb(250,197,197) 53%);
        background-image: -webkit-linear-gradient(bottom, rgb(252,189,189) 5%, rgb(250,197,197) 53%);
        background-image: -ms-linear-gradient(bottom, rgb(252,189,189) 5%, rgb(250,197,197) 53%);

        background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.05, rgb(252,189,189)),
        color-stop(0.53, rgb(250,197,197))
        );
    }

@include list-settings;
@include button-style;
@include toolbar-settings;
@include form-settings;
@include page-settings;
@include panel-settings;  

// Examples of using the icon mixin:
// @include icon('user');
