@mixin auto-resizer {

    .navigation-icons {
        
        display: block !important;
        max-height:85px !important;
        height:auto !important;
        margin-right: 5px !important;
    }
}