@mixin button-style {

	.custom-button  {
	
		border              : none !important;
		background-color    : inherit !important;
	}
    .share_button
    {  
        border              : none !important;
        background-color    : #fff !important;
        width               :50% !important;
        color               : #1569C7 !important;
        font-weight         : normal;
        float               : left;
        border-radius       : 0px;
        top                 : -40px;   
    }
    .share_button span.x-button-label
    {
        font-weight: lighter;    
    } 
    final_img
    {
        width               : 100%;
        height              : 10%;
    }
    .overlap_text
    {
       position: relative;
       top: -120px;
 
    }

}
 