@mixin button-style {

	.custom-button  {
	
		border: none !important;
		background: inherit !important;
		
		.x-button-label {
		
			font-family: HelveticaLight; 
			font-weight: lighter;
			font-size: 110% !important;
		}
	}
    
    .social-popup-button  {
    
        border: none !important;
        background: inherit !important;
        color: #0079FF !important;
        
        .x-button-label {
        
            font-family: HelveticaLight; 
            font-weight: lighter;
            font-size: 100% !important;
            
        }
    }
    
    .social-popup-title  {
    
        border: none !important;
        background-color: inherit !important;
        color: #000000 !important;
        
        .x-button-label {
        
            font-family: HelveticaLight; 
            font-size: 100% !important;
            margin-right: 20px;
            
        }
    }
	
	.custom-white-button  {
		
		border: none !important;
        background: inherit !important;
        font-size: 90% !important;  
        
		.x-button-label {
		
		    color: #0079FF !important;
            font-family: HelveticaLight; 
            font-weight: lighter !important;
            
		}
	}

	.share_button { 
	 
		border: none !important;
		background-color: #fff !important;
		width:50% !important;
		color: #1569C7 !important;
		font-weight: normal;
		float: left;
		border-radius: 0px;
		top: -40px;   
	}

	.share_button span.x-button-label {

		font-weight: lighter;    
	}

	final_img {

		width: 100%;
		height: 10%;
	}
	
	.overlap_text {

		position: relative;
		top: -120px;
	}
	
	.alert-cancel-btn {
		
		padding: 15px;
		border: 1px solid #C5C5C5;
		border-left: none;
		border-bottom: none;
		border-right: #A0A0A0 1px solid;
		font-family: HelveticaLight;
		font-size: 22px;
		font-weight: lighter;
		color: #258dc8 !important;
	}
	
	.alert-delete-btn {
		
		padding: 15px;
		border: 1px solid #C5C5C5;
		border-left: none;
		border-right: none;
		border-bottom: none;
		font-family: HelveticaLight;
		font-size: 22px;
		font-weight: lighter;
		color: #258dc8 !important;
	}
    
    .share-item-button  {
    
        border: none !important;
        background: inherit !important;
        
        .x-button-label {
        
            font-family: HelveticaLight; 
            font-weight: lighter;
            color: #0079FF;
            font-size: 120% !important;
        }
    }
    
    .delete-item-button {
    
        border: none !important;
        background: inherit !important;
        
        .x-button-label {
        
            font-family: HelveticaLight; 
            font-weight: lighter;
            color: #FF0000;
            font-size: 120% !important;
        }
    }
    .share-item-title  {
    
        border: none !important;
        background: inherit !important;
        
        .x-button-label {
        
            font-family: HelveticaLight; 
            font-weight: lighter;
            color: black;
            font-size: 120% !important;
        }
    }
    

    .delete-items-list .x-item-selected { background-color: #fcd9db !important; color: black !important; } 

}
