@mixin form-settings {

	.custom-form-labels   {
		
		.x-form-field {
		
			color: #1283B8;
			font-family: HelveticaLight;
			font-size: 18px;
			font-weight: lighter;
		}
	
		.x-form-label {
		
			font-family: HelveticaLight !important;
			font-size: 18px !important;
			font-weight: lighter !important;
		}
	}
	.custom-textfield-settings   {

		.x-form-field {
		
			color: #1283B8;
			font-family: HelveticaLight;
			font-size: 18px;
			font-weight: lighter;
			-webkit-text-fill-color: #2679af;
		}

		.x-form-label {
		
			font-family: HelveticaLight !important;
			font-size: 18px !important;
			font-weight: lighter !important;
		}
	}

	.custom-share-indivisual-inner-text .x-form-label {

		font-family: HelveticaLight !important;
		font-weight: lighter !important;
		font-size: 24px !important;
	}

	.custom-share-indivisual-inner-text .x-input-text {

		margin-top: 16px;
	}	
	.custom-popup-label .x-form-label {

		font-size: 22px;
	}
	
	.custom-delete-alert-box {
		
		background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#f2f6f8), color-stop(13%,#daddf2), color-stop(51%,#e6ebf4), color-stop(100%,#d7def4)); 
		border-radius: 10px;
	}
	
	.custom-social-alert-box {
		
		/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edf0f7), color-stop(2%,#dee8e7), color-stop(29%,#d5dcf2), color-stop(100%,#e5f0ff));
		border-radius: 10px;*/
		
		/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8dcff), color-stop(78%,#f4faff));*/
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe));
		border-radius: 10px;
	}
	
	.custom-text-fieldarea .x-input-el  {
		
		/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dddc), color-stop(3%,#d9f7f6), color-stop(50%,#d8e1e7), color-stop(53%,#d9f7f6), color-stop(100%,#dce6f4)) no-repeat;*/
		/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(100%,#d1d1d1), color-stop(100%,#fefefe));*/
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(100%,#d1d1d1), color-stop(100%,#fefefe));
        
		border-radius: 0px;
	}
	
	.custom-text-field-dark .x-input-el  {
		
		/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dddc), color-stop(3%,#d9f7f6), color-stop(50%,#d8e1e7), color-stop(53%,#d9f7f6), color-stop(100%,#dce6f4)) no-repeat;*/
		/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(100%,#d1d1d1), color-stop(100%,#fefefe));*/
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#e5e5e5), color-stop(100%,#ededed), color-stop(100%,#fefefe));
		border-radius: 0px;
	}
	.custom-text-field-light .x-input-el  {
		
		/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dddc), color-stop(3%,#d9f7f6), color-stop(50%,#d8e1e7), color-stop(53%,#d9f7f6), color-stop(100%,#dce6f4)) no-repeat;*/
		/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(100%,#d1d1d1), color-stop(100%,#fefefe));*/
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(51%,#f9f9f9), color-stop(98%,#f4f4f4), color-stop(100%,#fefefe));
		border-radius: 0px;
	} 
	
}