@mixin form-settings {

	
	.custom-textfield-settings   {

		.x-form-field {
		
			color: #1283B8;
			font-family: HelveticaLight;
			font-size: 100%;
			-webkit-text-fill-color: #2679af;
		}

		.x-form-label {
		
			font-family: HelveticaLight !important;
			font-size: 100% !important;
		}
	}

	.custom-share-indivisual-inner-text .x-form-label {

		font-family: HelveticaLight !important;
		font-weight: lighter !important;
		font-size: 24px !important;
	}

	.custom-share-indivisual-inner-text .x-input-text {

		margin-top: 16px;
	}	
	.custom-popup-label .x-form-label {

		font-size: 22px;
	}
	
	.custom-delete-alert-box {
		
		background: -webkit-linear-gradient(top, rgba(228,232,231,1) 9%,rgba(216,221,222,1) 68%,rgba(232,233,233,1) 100%);
		border-radius: 10px;
	}
	
	.custom-social-alert-box {
        background: -webkit-linear-gradient(top, rgba(228,232,231,1) 9%,rgba(216,221,222,1) 68%,rgba(232,233,233,1) 100%);
        border-radius: 10px;
       
	}
	
	.custom-text-fieldarea .x-input-el  {
		
        background: -webkit-linear-gradient(top, rgba(224,229,228, 1) 9%,rgba(220,225,225,1) 68%,rgba(218,223,223,1) 100%); 
	}
	
	.custom-text-field-dark .x-input-el  {
		
		background-color: #D9DEDF;        
        border-radius: 0px;
	}
	.custom-text-field-light .x-input-el  {
		
		background-color: #DCE0E0;   
        border-radius: 0px;
	} 
	.x-msgbox
    {
        background: -webkit-linear-gradient(top, rgba(228,232,231,1) 9%,rgba(216,221,222,1) 68%,rgba(232,233,233,1) 100%);
        border: none;
    }

    .x-msgbox-dark .x-msgbox-text {
        color: #000 !important;
        font-family: HelveticaLight;
    }

    .x-msgbox .x-button {
           
        background-image: none !important;
        background-color : #818185 !important; // button color
    }
    
    .x-msgbox-title .x-title {
        color:#000 !important;
        font-family: HelveticaBold !important;
    }
    
    .custom-form {
    
        background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#f2f6f8), color-stop(13%,#daddf2), color-stop(51%,#e6ebf4), color-stop(100%,#d7def4)); 
        border-radius: 10px;
    }
    
     .custom-form-fields {
     
        .x-form-label {

        border: 1px solid #c5c5c5;
        }
     }
}