@mixin form-settings {

	.custom-form-labels   {
	
		.x-form-field {
		
			color: #1283B8;
			font-family: 'Calibri';
			font-size: 22px;
			font-weight: lighter;
			height: 100px;
		}
		
		.x-form-label {
			
			color: black;
			font-family: 'Calibri' !important;
			font-size: 22px !important;
			font-weight: lighter !important;
			height: 100px;
			
		}
	}
	
	.custom-share-indivisual-inner-text .x-form-label {
	
		font-family: 'Calibri' !important;
		font-weight: lighter !important;
		font-size: 24px !important;
		
	}
	
	.custom-share-indivisual-inner-text .x-input-text {
	
		margin-top: 16px;
	}	
	.custom-popup-label .x-form-label {
	
		font-size: 22px;
	}
	.email-form-popup {
	
		
	}
	
	.text-area-custom {
		
		background-color: linear-gradient(bottom, rgb(245,245,245) 9%, rgb(191,209,214) 55%, rgb(235,235,235) 78%);
		background-color: -o-linear-gradient(bottom, rgb(245,245,245) 9%, rgb(191,209,214) 55%, rgb(235,235,235) 78%);
		background-color: -moz-linear-gradient(bottom, rgb(245,245,245) 9%, rgb(191,209,214) 55%, rgb(235,235,235) 78%);
		background-color: -webkit-linear-gradient(bottom, rgb(245,245,245) 9%, rgb(191,209,214) 55%, rgb(235,235,235) 78%);
		background-color: -ms-linear-gradient(bottom, rgb(245,245,245) 9%, rgb(191,209,214) 55%, rgb(235,235,235) 78%);
		background-color: -webkit-gradient(linear,left bottom,left top,color-stop(0.09, rgb(245,245,245)),color-stop(0.55, rgb(191,209,214)),color-stop(0.78, rgb(235,235,235))
	);
	
	.emailformclassic {
	
		background-image: linear-gradient(bottom, rgb(223,229,235) 9%, rgb(201,210,212) 55%, rgb(224,224,224) 78%);
		background-image: -o-linear-gradient(bottom, rgb(223,229,235) 9%, rgb(201,210,212) 55%, rgb(224,224,224) 78%);
		background-image: -moz-linear-gradient(bottom, rgb(223,229,235) 9%, rgb(201,210,212) 55%, rgb(224,224,224) 78%);
		background-image: -webkit-linear-gradient(bottom, rgb(223,229,235) 9%, rgb(201,210,212) 55%, rgb(224,224,224) 78%);
		background-image: -ms-linear-gradient(bottom, rgb(223,229,235) 9%, rgb(201,210,212) 55%, rgb(224,224,224) 78%);
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.09, rgb(223,229,235)),color-stop(0.55, rgb(201,210,212)),color-stop(0.78, rgb(224,224,224)));
	}
	
	}
}