@mixin list-settings {


    .x-list {
        background-color: white !important;
    }
	.shops-list .x-list-header  {
		
		background-color: white !important;
		font-family: HelveticaBold !important;
		color: black !important;
		font-size: 100% !important;
		border-top: none !important;
		border-bottom: #C5C5C5 solid 1px !important;
	}

	.x-list-normal .x-list-item.x-list-item-tpl,.x-list-normal .x-list-item .x-dock-horizontal{
		border-top:none;
	}
	
	.x-list-normal .x-list-item.x-list-item-tpl.x-list-footer-wrap,.x-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal{
		border-bottom:none;
	}
	
	.custom-share-inner-text .x-innerhtml {
		
		border-bottom: #CFCFCF 1px solid;
		color: #0079FF;
	
	}
    
    .delete-item-list .x-list-header  {
        
        background-color: #F8F8F8;
        color: black;
        font-family: HelveticaBold;
        font-weight: bolder;
        font-size: 100%; 
        border: none;
        
    }
    .delete-item-list .x-list-header .x-innerhtml 
    {
    font-size: 100%;  
    font-family: HelveticaBold; 
    }
    /*.delete-item-list  .x-item-selected
    {
        background-color    : #fcd9db !important;
        color               : black !important;
        background-image: url(images/c2.png);
    }*/ 
    
    .item-list .x-list-header  {
        
        background-color: #F8F8F8 ;
        color: black;
        font-family: HelveticaBold;
        font-weight: bolder;
        font-size: 100%; 
        border: none;
        
    }
    
    .item-list .x-list-header .x-innerhtml
    {
        font-size: 100%; 
        margin-left: 18px;
    }
    .item-list .x-list-footer-wrap
    {
        margin-bottom: 10px;
    }
    
    
}