@mixin list-settings {

	.shops-list .x-list-header  {
		
		background-color: white;
		color: black;
		font-weight: bolder;
		font-size: 18px;
		border-top: none;
		border-bottom: #C5C5C5 solid 1px;
	}

	.x-list-normal .x-list-item.x-list-item-tpl,.x-list-normal .x-list-item .x-dock-horizontal{
		border-top:none;
	}
	
	.x-list-normal .x-list-item.x-list-item-tpl.x-list-footer-wrap,.x-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal{
		border-bottom:none;
	}
}