@mixin page-settings {
	
	
	.custom-page-bg {
	
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(-10%,#d3d3d3));
	}
	
	.overlapped-brand {
	
		font-size: 52px;
		color: white;
		font-family: HelveticaBold;
		text-align: center;
		word-wrap:break-word;
		
	}
	.overlapped-price {
	
		font-size: 52px;
		color: white;
		font-family: HelveticaBold;
		text-align: center;
		word-wrap:break-word;
		
	}
	.overlapped-msg {
	
		font-size: 34px;
		color: white;
		font-weight: lighter;
		text-align: center;
		word-wrap:break-word;
	}

}