@mixin toolbar-settings {

	.top-toolbar .x-innerhtml  {
	
		font-family: Calibri;
		font-weight: lighter;
		font-size: 23px;
		
	}
	
	.bottom-toolbar {
	
		height: 75px !important; 
		border-top: #C5C5C5 1px solid !important;
	}
	
	.custom-share-toolbar  {
		
		height: 20%; 
		border-bottom: #C0C0C0 solid 1px;
		text-align: right;
		font-size: 18px;
		font-family: "Calibri";
		font-weight: lighter;
		background-image: linear-gradient(bottom, rgb(223,229,235) 9%, rgb(201,210,212) 55%, rgb(224,224,224) 78%);
		background-image: -o-linear-gradient(bottom, rgb(223,229,235) 9%, rgb(201,210,212) 55%, rgb(224,224,224) 78%);
		background-image: -moz-linear-gradient(bottom, rgb(223,229,235) 9%, rgb(201,210,212) 55%, rgb(224,224,224) 78%);
		background-image: -webkit-linear-gradient(bottom, rgb(223,229,235) 9%, rgb(201,210,212) 55%, rgb(224,224,224) 78%);
		background-image: -ms-linear-gradient(bottom, rgb(223,229,235) 9%, rgb(201,210,212) 55%, rgb(224,224,224) 78%);
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.09, rgb(223,229,235)),color-stop(0.55, rgb(201,210,212)),color-stop(0.78, rgb(224,224,224)));

	}
	
	.custom-share-indivisual-toolbar {
		
		height: 20%; 
		border-bottom: #C0C0C0 solid 1px;
		text-align: right;
		font-size: 18px;
		font-family: "Calibri";
		font-weight: lighter;
		

	}
}