@mixin toolbar-settings {
	
	.toolbarLogo {
		
		font-family: HelveticaLight; 
		font-weight: lighter;
		font-size: 18px;
	}
	.top-toolbar .x-innerhtml  {
		
		font-family: HelveticaLight;
		font-weight: lighter;
		font-size: 18px;
	}
	
	.bottom-toolbar {
	
		height: 75px !important; 
		border-top: #C5C5C5 1px solid !important;
	}
	
	.custom-share-toolbar  {
		
		height: 20%; 
		border-bottom: #C0C0C0 solid 1px;
		text-align: right;
		font-size: 18px;
		font-family: HelveticaLight;
		font-weight: lighter;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#f2f6f8), color-stop(13%,#daddf2), color-stop(51%,#e6ebf4), color-stop(100%,#d7def4));

	}
	
	.delete-prompt-box  {
		
		border-bottom: #C0C0C0 solid 1px;
		font-size: 18px;
		font-family: HelveticaLight;
		font-weight: lighter;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#f2f6f8), color-stop(13%,#daddf2), color-stop(51%,#e6ebf4), color-stop(100%,#d7def4));

	}	
	.custom-share-indivisual-toolbar {
		
		height: 20%; 
		border-bottom: #C0C0C0 solid 1px;
		text-align: right;
		font-size: 18px;
		font-family: HelveticaLight;
		font-weight: lighter;
	}
	
	.custom-social-toolbar 
	{
		height: 10%; 
		padding: 27px;
		/*background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#f2f6f8), color-stop(13%,#daddf2), color-stop(51%,#e6ebf4), color-stop(100%,#d7def4));*/
		border-radius: 10px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom: #C0C0C0 solid 1px;
	}
}